<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>089c52a077622eb4803ab1c6246725b0.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{796,1592},{320,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{320,320}}</string>
				<key>sourceSize</key>
				<string>{320,320}</string>
			</dict>

			<key>0a5d1d3a48f90ab3b37741cbe5fa7a62.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,950},{474,474}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{474,474}}</string>
				<key>sourceSize</key>
				<string>{474,474}</string>
			</dict>

			<key>1a28c166cc8143d98ea9ab38a974350a.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{796,1271},{320,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{320,320}}</string>
				<key>sourceSize</key>
				<string>{320,320}</string>
			</dict>

			<key>276f8bd118f65540a25947d89acb9d6e.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,475},{474,474}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{474,474}}</string>
				<key>sourceSize</key>
				<string>{474,474}</string>
			</dict>

			<key>350e949f911178628c7560afafd4244b.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{475,950},{320,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{320,320}}</string>
				<key>sourceSize</key>
				<string>{320,320}</string>
			</dict>

			<key>70c8c1f2ee44c95030f4ddff5af1efd7.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{475,475},{474,474}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{474,474}}</string>
				<key>sourceSize</key>
				<string>{474,474}</string>
			</dict>

			<key>761838420398ec0b0b412b46b71f2ab2.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{475,1271},{320,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{320,320}}</string>
				<key>sourceSize</key>
				<string>{320,320}</string>
			</dict>

			<key>7e964217712707acba8b0bc270444997.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{796,950},{320,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{320,320}}</string>
				<key>sourceSize</key>
				<string>{320,320}</string>
			</dict>

			<key>83d9307efc1dac5ec5672f99cbb2243a.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{475,0},{474,474}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{474,474}}</string>
				<key>sourceSize</key>
				<string>{474,474}</string>
			</dict>

			<key>9b408f39917616e6a7982abb243acb25.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,1425},{474,474}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{474,474}}</string>
				<key>sourceSize</key>
				<string>{474,474}</string>
			</dict>

			<key>c0b1a646ac224a4f07a6f20f04bf3d77.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{475,1592},{320,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{320,320}}</string>
				<key>sourceSize</key>
				<string>{320,320}</string>
			</dict>

			<key>e65755e73d8085e30aedfa21fde07f1b.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{474,474}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{474,474}}</string>
				<key>sourceSize</key>
				<string>{474,474}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>